<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="~/images/edura-logo.png" alt="Edura - Multipurpose Website Template">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. <b>Lorem ipsum dolor sit amet, consectetur adipiscing</b>.</p>
                <br>
                <ul class="list-unstyled list-inline social-icons">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter twitter"></i></a></li>
                    <li><a href="#" class="googleplus"><i class="fa fa-google-plus googleplus"></i></a></li>
                    <li><a href="#" class="youtube"><i class="fa fa-youtube youtube"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="fa fa-linkedin linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>PAGES</h4>
                <ul class="list-unstyled">
                    <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">HOME</a></li>
                    <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">ABOUT US</a></li>
                    <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">SERVICES</a></li>
                    <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">BLOG</a></li>
                    <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">STORE</a></li>
                    <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">PRIVACY POLICY</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>CONTACT US</h4>
                <p><i class="fa fa-map-pin fa-fw"></i> 379 5th Ave, New York, 10001, USA</p>
                <p><i class="fa fa-phone fa-fw"></i> +(112) 345 6879</p>
                <p><i class="fa fa-phone fa-fw"></i> +(112) 345 6879</p>
                <p><i class="fa fa-envelope fa-fw"></i> hello@example.com</p>
            </div>
            <div class="col-md-3">
                <h4>NEWSLETTER</h4>
                <p>Subscribe to our monthly newsletter and stay updated with the latest news and info.</p>
                <form action="#" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                            <input type="email" class="form-control" id="email" placeholder="Your Email Address" required>
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="col-md-12 text-center bottom">
                <p>Copyright &copy; 2016 Codeniner. All rights reserved.</p>
            </div>
        </div>
    </div>
</section>
