<section id="header">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/images/edura-logo.png" alt="Edura - Multipurpose Website Template">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                        <ul class="dropdown-menu">
                            <li><a href="index-2.html">Homepage 1</a></li>
                            <li><a href="index-3.html">Homepage 2</a></li>
                            <li><a href="index-4.html">Homepage 3</a></li>
                            <li><a href="index-5.html">Homepage 4</a></li>
                            <li><a href="index-6.html">Home 5 (Full Carousel)</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                        <ul class="dropdown-menu">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="404.html">404 Error</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features</a>
                        <ul class="dropdown-menu">
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="grid-system.html">Grid System</a></li>
                            <li><a href="elements.html">Elements</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Menu Title</li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">More..</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">3rd level</a></li>
                                    <li><a href="#">3rd level</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio</a>
                        <ul class="dropdown-menu">
                            <li><a href="portfolio-single.html">Single Project</a></li>
                            <li><a href="portfolio-2cl.html">2 Columns Portfolio</a></li>
                            <li><a href="portfolio-3cl.html">3 Columns Portfolio</a></li>
                            <li><a href="portfolio-4cl.html">4 Columns Portfolio</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-single.html">Single Article</a></li>
                            <li><a href="blog-grid-2cl.html">Blog Grid 2 Columns</a></li>
                            <li><a href="blog-grid-3cl.html">Blog Grid 3 Columns</a></li>
                            <li><a href="blog-list.html">Blog List</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu">
                            <li><a href="shop-product.html">Product</a></li>
                            <li><a href="shop-product-sidebar-left.html">Product Sidebar Left</a></li>
                            <li><a href="shop-product-sidebar-right.html">Product Sidebar Right</a></li>
                            <li><a href="shop-catalog.html">Catalog</a></li>
                            <li><a href="shop-catalog-sidebar-left.html">Catalog Sidebar Left</a></li>
                            <li><a href="shop-catalog-sidebar-right.html">Catalog Sidebar Right</a></li>
                            <li><a href="shop-cart.html">Shopping Cart</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                        <ul class="dropdown-menu">
                            <li><a href="contactus-1.html">Contact Us 1</a></li>
                            <li><a href="contactus-2.html">Contact Us 2</a></li>
                            <li><a href="contactus-3.html">Contact Us 3</a></li>
                            <li><a href="contactus-4.html">Contact Us 4</a></li>
                        </ul>
                    </li>
                    <li><a href="shop-cart.html"><i class="fa fa-shopping-cart fa-fw"></i> Cart (2)</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</section>

