<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from demos.codeniner.com/edura/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Aug 2018 07:17:45 GMT -->
<head>
    <!-- METAS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- TITLE -->
    <title>@ViewBag.Title Edura - Multipurpose Website Template</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
    <!-- LOAD MAIN CSS -->
    <link href="~/style.css" rel="stylesheet" type="text/css">
    <!-- LOAD COLOR STYLE (OPTONAL) CSS -->
    <link href="~/styles/lunar.css" rel="stylesheet" type="text/css" id="colorstyle">
    <!-- LOAD CUSTOM CSS -->
    <link href="~/custom.css" rel="stylesheet" type="text/css">
    <!-- LOAD DEMO CSS -->
    <link href="~/demo/demo.css" rel="stylesheet" type="text/css">
    <link href="~/assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/assets/css/main.css" rel="stylesheet" media="all">
    <link href="~/assets/css/colors/default.css" id="theme" rel="stylesheet">
    @RenderSection(name: "top", required: false)
</head>
<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <i class="fa fa-spinner fa-spin preloader-animation" aria-hidden="true"></i>
    </div>
    <!-- Preloader End -->
    <!-- WRAPPER START -->
    <div id="wrapper">
        <!-- HEADER START -->
        @{Html.RenderAction("HeaderPartial", controllerName: "Partial");}

        <!-- HEADER END -->
        <!-- HERO SLIDER -->
        <!-- CONTENT START -->
        <br />
        <br />
        <br />
        <br />
        <br />
        <section id="home-content">
            @RenderBody()
        </section>
        <br />
        <br />
        <br />
        <br />
        <br />
        <!-- CONTENT END -->
        <!-- CALL TO ACTION START -->
        <!-- CALL TO ACTION END -->
        <!-- FOOTER START -->
        @{Html.RenderAction("FooterPartial", controllerName: "Partial");}

        <!-- FOOTER END -->
    </div>
    <!-- WRAPPER END -->
    <!-- MAIN JS FILES REQUIRED ON ALL PAGES -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
    <script src="~/vendor/wow/wow.min.js"></script>
    <script src="~/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendor/SmoothScroll/SmoothScroll.min.js"></script>
    <script src="~/vendor/waypoints/waypoints.min.js"></script>
    <script src="~/vendor/counterup/jquery.counterup.min.js"></script>
    <!-- HERO SLIDER-->
    <script src="~/vendor/hero-slider/js/modernizr.js"></script>
    <script src="~/vendor/hero-slider/js/main.js"></script>
    <!-- OWL CAROUSEL -->
    <script src="~/vendor/owl-carousel/owl.carousel.js"></script>
    <!-- FILTERIZR -->
    <script src="~/vendor/jquery/jquery.filterizr.js"></script>
    <!-- EDURA JS REQUIRED ON ALL PAGES-->
    <script src="~/edura.js"></script>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-81122143-3', 'auto');
        ga('send', 'pageview');</script>
    <!-- STYLE SWITCHER -->
    <script src="~/demo/demo.js"></script>
    
    @RenderSection(name: "bottom", required: false)
</body>
<!-- Mirrored from demos.codeniner.com/edura/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Aug 2018 07:21:26 GMT -->
</html>

