
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


@section top
{
    <link href="~/assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/assets/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/assets/css/main.css" rel="stylesheet" media="all">
}

<div class="page-wrapper bg-gray p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-body">
                <br />
                <h2 class="title">Arıza Detay Sayfası</h2>
                <form method="POST">
                    <div class="input-group col-md-12">
                        <input class="input-style-1" type="text" placeholder="Fault ID" name="faultID">
                    </div>
                    <div class="input-group col-md-12">
                        <input class="input-style-1" type="text" placeholder="Customer Name" name="Cname">
                    </div>
                    <div class="input-group col-md-12">
                        <input class="input-style-1" type="text" placeholder="Customer Surname" name="Csurname">
                    </div>
                    <div class="input-group col-md-12">
                        <input class="input-style-1" type="text" placeholder="Adress" name="adress">
                    </div>
                    <div class="input-group col-md-12">
                        <input class="input-style-1" type="text" placeholder="Fault Description" name="desc">
                    </div>

                    <div class="input-group col-md-12">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="gender">
                                <option disabled="disabled" selected="selected">Teknisyen Seç..</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                    <div class="p-t-20 col-md-offset-9">
                        <button class="btn btn--radius btn--blue" type="submit">Atama Yap</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section bottom
{
    <script src="~/assets/vendor/select2/select2.min.js"></script>
    <script src="~/assets/vendor/datepicker/moment.min.js"></script>
    <script src="~/assets/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/assets/js/global.js"></script>
}

